.columncomp{

    display: flex;
    flex-direction: column;
   gap: 48px;
   width: 100%;
}

.columncomp h3{
    font-family: Noto serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: black;
}
.colcartspan{
font-family: Noto serif;
font-weight: 400;
font-size: 14px;
line-height: 20px;
}
.colcard{
 display: flex;
 flex-direction: column;
 gap: 12px;
}